<textarea id="inputrectangle" value="{{text}}"></textarea>
<div id="rectangle" align="center">
  <body style="color: white">
    <label> Word Length:
      <input type="number" [(ngModel)]="wordLength" style="width: 50px">
    </label>
  </body>
  <button name="random" (click)="onRandomClick()">Random</button>
  <button name="singleLetter" (click)="onSingleClick()">Single Letter</button>
  <button name="doubleLetter" (click)="onDoubleClick()">Double Letter</button>
  <button name="tripleLetter" (click)="onTripleClick()">Triple Letter</button>
</div>
